.bg-main{
    background-image: url("../img/bg-2.png");
}
.form__input ._error{
    box-shadow: 0 0 15px #0050ff;
}
.markercluster-map {
    height: 20vh;
}
.leaflet-container, .block1_text_map{
    width: 50%;
    height: 285px;
    margin: 0 auto;
    z-index: 0;

}
.block1_text_map {
    margin-top: 94px;
}
