body {
  font-family: 'Helvetica';
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.text-right {
  text-align: right;
}
img.small {
  max-height: 8rem;
}
button {
  background-color: #ea1b29;
  border: none;
  border-radius: 0;
  color: white;
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  width: 100%;
  cursor: pointer;
}
button.add {
  background-color: #152136;
  border: none;
  border-radius: 0;
  color: white;
  width: 1.5rem;
}
button.remove {
  background-color: #ea1b29;
  border: none;
  border-radius: 0;
  color: white;
  width: 1.5rem;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
.button_add{
  width: 130px;
  background: #ea1b29;
  color: white;
  border: none;
  border-radius: 0;
}
.block_shop{
  display:flex;
}
.row .product-block{
  width: 30%;
  padding-top: 20px;
}
img.small {
  max-height: 10rem;
}
.block_delivery{
  text-align: center;
}
.block_delivery input{
  color: #6a6b71;
  display: block;
  width: 100%;
  height: 38px;
  background: #ffffff;
  font-weight: 400;
  border: 1px solid #e3e6e7;
  outline: none;
  padding: 0px 25px;
  width: 100%;
  border-radius: 50px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
.price{
  display:none;
}