.main_bg{
    background-image: url("../img/bg_main.png");
}
.trainer-image-one{
    background-image: url("../img/coach1.jpg");
}
.trainer-image-two{
    background-image: url("../img/coach2.png");
}
.trainer-image-3{
    background-image: url("../img/coach3.jpg");
}
.trainer-image-4{
    background-image: url("../img/coach5.jpg");
}
.trainer-image-5{
    background-image: url("../img/coach4.jpg");
}
.trainer-image-6{
    background-image: url("../img/coach6.jpg");
}
.trainer-image-7{
    background-image: url("../img/coach7.jpg");
}
.trainer-image-8{
    background-image: url("../img/coach8.jpg");
}