.bg-1{
    background-image: url("slider7.jpg");
}
.bg-2{
    background-image: url("bd-2.png");
}
.bg-video{
    background-image: url("bd-2.png");
}
.bg_price{
    background-image: url("gym.jpg");
    height: 207px;
    background-repeat: no-repeat;
}

